<form action="/products/create" enctype="multipart/form-data" method="POST">
      <section class="contenedor">
        <div class="titulo">
          <h1>ADMINISTRADOR -  CARGA DE PRODUCTOS</h1>
        </div>
        
          <div class="fila">

            <div class="fila-item">
            <label class="categoria">CATEGORIA:</label>
              <select name="categoria_id" id="" required>
                <option value="" disabled selected>- Agrega la categoria del Producto - </option>
                <% allCategorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                <% }); %>
              </select>
            </div>
            
            <div class="fila-item">
              <label>Nombre:</label>
              <input name="producto" class="input-form" id="producto" placeholder="Seleccione un producto">
            </div>

            <div class="fila-item">
              <label class="marca">MARCA:</label>
              <input name="marca" class="input-form" id="marca" placeholder="Seleccione la marca">
            </div>

            <div class="fila-item">
             <label>MODELO:</label>
             <input name="modelo" class="input-form" id="modelo" placeholder="Seleccione el modelos">
            </div>
          
            </div>
            
          <div class="fila">
           
            <div class="fila-item">
             <label class="marca">AGARRE:</label>
             <input name="agarre" class="input-form" id="agarre" placeholder="Seleccione la mano">
            </div>

            <div class="fila-item">
              <label class="">TIPO DE VARA:</label>
              <input name="tipodevara"class="input-form" id="tipodevara" placeholder="Seleccione el tipo de vara">
            </div>
            
            <div class="fila-item">
              <label class="bolsa">TIPO DE BOLSA:</label>
              <input name="tipodebolsa" class="input-form" id="bolsa" placeholder="Seleccione el tipo de bolsa">
            </div>
        
            <div class="fila-item">
              <label class="">HIERROS-TIPO DE CONJUNTO:</label>
              <input name="hierrostipodeconjunto"class="input-form" id="hierrostipodeconjunto" placeholder="Seleccione el conjunto de hierros">
            </div>
       
           </div>

           <div class="fila">
          
            <div class="fila-item" style="position: relative;">
              <label>PRECIO:</label>
              <span style="position: absolute; left: 17px; top: 57px; color:grey">$</span>
              <input name="precio" type="precio"  id="precio" class="input-form" value="" required style="padding-left: 15px;"/>
            </div>

            <div class="fila-item" style="position:relative;">
              <label>DESCUENTO:</label>
              <input name="descuento"class="input-form" id="descuento" placeholder="Seleccione el descuento" required>
            </div>
            
            <div class="fila-item">
              <label class="talle">TALLES:</label>
              <input name="talle" id="talle" class="input-form" placeholder="Seleccione el talle">
            </div>

            <div class="fila-item">
             <label>CONTROL DE STOCK:</label>
              <input name="stock"type="number" id="stock" value="0" class="input-form" placeholder="Stock: "required/>
            </div>

            <div class="fila-item">
              <label class="color">COLOR:</label>
              <input name="color" class="input-form" id="color" placeholder="Seleccione el color">
            </div>

          </div>
        
          <div class="fila" style="justify-content: flex-end;">
            <div class="fila-item">
              <input class="file input-form" type="file" name="myFile" />
            </div>
          </div>
      
          <div class="fila" style="justify-content: flex-end;">
            <div class="fila-item">
             <button type="submit" id="guardar">GUARDAR</button> 
            </div>
          </div>

      </section>
      
    </form>