* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.contenedor {
  margin: 35px 10px;
}

.producto-palos-lista {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  right: 100px;
  margin: 40px 0;
}

.imagen-producto img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 350px;
}

.imagen-producto img:hover {
  transform: scale(1.25);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  transition: ease-in-out 1.5s;
}

.contenido-producto {
  padding: 10px;
  margin: auto;
  width: 80%;
}

.marca-producto {
  font-weight: 900;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.33333em;
  font-style: italic;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #021582;
}

.nombre-producto {
  line-height: 1.33333em;
  letter-spacing: 0.069em;
  margin: 5px 0 10px;
  font-size: 1.5rem !important;
  text-transform: none !important;
}

.precio-producto {
  font-size: 26px;
}

.descripcion {
  padding: 10px;
  margin: auto;
  width: 80%;
}

.palo-vara1 {
  display: block;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
}

.palo-vara2 {
  font-size: 20px;
  color: #021582;
  font-style: italic;
  letter-spacing: 0.0325em;
}

.tipo1 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
  padding-top: 15px;
}

.tipo2 {
  font-size: 20px;
  color: #021582;
  font-style: italic;
  letter-spacing: 0.0325em;
}

.contenedor-info {
  margin: auto;
  position: relative;
  left: 25px;
  padding-top: 30px;
}

@media (min-width: 490px) {
  .contenedor {
    display: flex;
  }

  div.imagen-producto {
    width: 60%;
  }
}

@media (min-width: 661px) {
  .contenedor-info {
    margin: initial;
  }

  .contenido-producto {
    width: 100%;
  }

  .descripcion {
    width: 100%;
  }
}
