
footer {
    background-color: #c6c6c6;
    opacity: 90%;
    display: flex;
    flex-direction: column;
}

footer .footer-image {
    background: transparent url('/images/CAMPOS/2/bg-footer.webp') center center no-repeat;
    background-size: cover;
    height: 500px;
    border-bottom: 4px solid #dc3b41;
}

footer .footer-content {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
footer .red-social {
    background-color: #d6d6d6;
    display: flex;
    padding: 15px;
    justify-content: center;
    opacity: 90%;
}

footer .red-social span {
    margin: 0 10px;
    font-size: 22px;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 1.35em;
}

footer p {
    margin-bottom: 7px;
}

footer span {
    padding: 0 15px;
}

footer i {
    font-size: 23px;
}

<<<<<<< HEAD
footer input {
=======
.red-social span {
    font-size: 22px;
}

div.pie-pagina input {
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
    margin: 10px;
    width: 100%;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    max-width: 300px;
<<<<<<< HEAD
=======
}

@media (min-width: 860px) {

    div.pie-pagina {
        display: flex;
        
    }
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
}