  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
  }

<<<<<<< HEAD
  body.palos h2 {
    opacity: 0.6;
    font-family: 'Oswald';
    color: red;
    font-size: 30px;
  }
  body.palos h4 {
    font-family: 'Oswald';
    color: red;
    font-size: 15px;
    float: left;
  }

  body.palos .resultado-busqueda {
    position: relative;
    padding: 15px;
=======
  body.palos h1 {
    text-align: center;
    margin: auto;
  }

  body.palos .resultado-busqueda {
    width: 90%;
    margin: auto;
    padding: 20px 5px;
    position: relative;
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
  }

  body.palos .resultado-busqueda h2 {
    text-align: right;
  }

  body.palos .ordenar-buscador {
<<<<<<< HEAD
    float: right;
  }

  /* .select-buscador {
  } */
=======
    position: absolute;
    right: 2%;
    top: 100%; 
  }

  .select-buscador {
    max-width: 17px;
  }
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2

  .hr-1 {
    margin-top: 50px;
  }

  body.palos ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
  }

  body.palos li.producto-palos-lista {
    width: 47%;
    padding: 10px 0;
    margin: 0 1.5% 20px;
    background: #fff;
<<<<<<< HEAD
    border-bottom: 1px solid gray;
  }

  body.palos li.producto-palos-lista img {
    max-width: 70%;
=======
  }

  body.palos li.producto-palos-lista img {
    max-width: 100%;
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
    padding-bottom: 30px;
  }

  div.tamaño-hr {
    height: 35%;
<<<<<<< HEAD
    
=======
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
  }

  body.palos li.producto-palos-lista h6{
    text-align: center;
<<<<<<< HEAD
    font-size: 15px;
    font-family: oswald;
    color: rgba(41, 41, 196, 0.892);
=======
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
  }

  body.palos li.producto-palos-lista p {
    text-align: center;
    font-size: 13px;
    margin: 5px 0 8px;
    line-height: 20px;
  }

  body.palos li.producto-palos-lista h5 {
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
  }

  body.palos li.producto-palos-lista h5 .span-1 {
    text-decoration: line-through;
  }

  body.palos li.producto-palos-lista h5 .span-3 {
    justify-content: center;
  }

  body.palos li.producto-palos-lista .p-descuento {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
<<<<<<< HEAD
    color: red;
    text-decoration: underline;
  }
  body.palos li.producto-palos-lista .nuevo{
    font-size: 9px;
    width: 45px;
    border-radius: 45px;
    background-color: blue;
    color: white;
    font-family: 'Oswald';
}
  
=======
  }

>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
  @media (min-width: 420px) {
    
    body.palos h1 {
      text-align: left;
      margin-left: 40px;
  }

  body.palos .resultado-busqueda h2 {
    text-align: left;
}
  }

@media (min-width: 790px) {

    body.palos ul {
        justify-content: space-around;
    }  

    body.palos li.producto-palos-lista {
<<<<<<< HEAD
        width: 23%;
    }

}

@media (min-width: 790px) {
body.palos li.producto-palos-lista img {
  margin: auto;
  display: block;
=======
        width: 27%;
    }
    body.palos li.producto-palos-lista img {
      margin: auto;
      display: block;
    } 

}

@media (min-width: 1200px) {
body.palos li.producto-palos-lista img {
 height: 65%;
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
} 
}