

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Open Sans";
}

/* MAIN */
section.contenedor form{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}
.container {
position: absolute;
left: 50%;
top: 100%;
transform: translate(-50% -50%);
padding: 10px;
}
.container__menu {
width: 100%;
height: 70px;
background: black;
padding: 0px 600px;
}
.registrarse {
font-size: 35px;
color: black;
font-weight: 400;
}

.contenedor {
font-family: fantasy;
font-size: 20px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}
.contenedor .titulo {
background-color: #dc3b41;
padding: 20px;
width: 100%;
color: white;
text-align: center;
}
.contenedor .titulo h1 {
font-size: 32px
}

.contenedor .fila {
max-width: 70%;
width: 100%;
text-align: center;
}

.contenedor .fila-checkbox {
    max-width: 70%;
width: 100%;
text-align: center;
}
.contenedor input.input-form {
    width: 100%;
    padding: 13px;
    font-family: 'Oswald';
    text-align: center;
    color: black;
    border-radius: 7px;
}
.contenedor input.check-form {
width: 40px;
height: 30px;
float: left;
margin-right: 5px;
vertical-align: inherit;
}

#crear-cuenta {
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #dc3b41;
    border-radius: 20px;
    width: 35%;
    color: white;
    border: none;
    opacity: 65%;
    max-width: 300px;
    min-width: 200px
}

.inicia-sesion- {
font-weight: 550;
padding-bottom: 30px;
}

/* FOOTER */

 li {
    font-size: 15.5px;
    color: red;
    text-align: center;
    list-style: none;
}

#errores {
    margin-bottom: 15px;
}

@media (min-width: 420px) {
    .contenedor input.input-form {
        max-width: 500px;
    }

}



@media (min-width: 790px) {

label {
display: block;
 }
    
.contenedor .fila {
text-align: center;
max-width: 100%;

}
.inicia-sesion- {
    
margin-bottom: 30px;
}

.contenedor .fila-checkbox {
    max-width: 60%;
}
}


@media (min-width: 1000px) {




} 