<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/cameronSmith.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="cameronSmith">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>CAMERON SMITH EQUIPO</h2>
        <h4> 9 RESULTADOS</h4>
        <!-- <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">Adultos Pack 12 Clases</option>
            <option value="--">Adultos Pack 24 Clases</option>
            <option value="top" selected>Niños Pack Clases</option>
          </select>
        </div> -->
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
        <li class="producto-cameronSmith-lista">
            <img src="/img/gorras-15.webp" alt="">
            <div class="tamaño-hr">
            <h6>GORRA - TITLEIST</h6>
            <p>Tour Stretch Tech (Pro V1) - Color: White/Red</p>
            <h5><span class="span-2">$13.400</span></h5>
          </div>
      </li>
      <li class="producto-cameronSmith-lista">
        <img src="/img/drive-titleist-tsi2.webp" alt="">
        <div class="tamaño-hr">
        <h6>DRIVE - TITLEIST TSi2 </h6>
        <p> Graphite Shaft - X-Stiff</p>
        <h5><span class="span-2">$138.250</span></h5>
        </div>
    </li>
    <li class="producto-cameronSmith-lista">
        <img src="/img/maderas-titleistTSi2.webp" alt="">
        <div class="tamaño-hr">
        <h6>MADERA FAIRWAYS - TITLEIST TSi 2</h6>
        <p>Graphite Shaft - X-Stiff</p>
        <h5><span>$79.382</span></h5>           
        </div>
    </li>
    <li class="producto-cameronSmith-lista">
        <img src="/img/hibrido-5.webp" alt="">
        <div class="tamaño-hr">
        <p class="nuevo">NUEVO</p>
        <h6>HIBRIDO  - TITLEIST TSi 3 - HIBRIDO</h6>
        <p>Graphite Shaft - X-Stiff</p>
        <h5><span>$91.233</span></h5>
        </div>
    </li>
    <li class="producto-cameronSmith-lista">
        <img src="/img/hierros-9.webp" alt="#">
        <div class="tamaño-hr">
        <h6>HIERROS - TITLEIST T200</h6>
        <p>Steel Shaft - X-Stiff</p>
        <h5><span class="span-3">$457.473</span></h5>
        </div>
    </li>
    <li class="producto-cameronSmith-lista">
        <img src="/img/wedge-6.webp" width="680px" alt="">
        <div class="tamaño-hr">
        <h6>WEDGE - TITLEIST</h6>
        <p>Vokey SM9  Jet Black - 56 y 60 deg</p>
        <h5><span class="span-2">$58.856</span></h5>
        </div>
    </li>
    <li class="producto-cameronSmith-lista">
        <img src="/img/putters-1.webp" alt="">
            <div class="tamaño-hr">
            <h6>PUTTER - TITLEIST</h6>
            <p>Scotty Cameron Special Select Newport 2.5</p>
            <h5><span class="span-2">$114.816</span></h5>
        </div>
    </li>
    <li class="producto-cameronSmith-lista">
        <img src="/img/pelota-titleist - prov1x-1.webp" alt="">
        <div class="tamaño-hr">
          <h6>PELOTAS - TITLEIST </h6>
          <p>Pro V1x</p>
          <h5><span class="span-2">$38.250</span></h5>
        </div>
    </li>
    <li class="producto-cameronSmith-lista">
        <img src="/img/zapatos-17.jpg" alt="">
        <div class="tamaño-hr">
        <h6>ZAPATOS - FOOTJOY</h6>
        <p>Limited Edition Hyperflex "Sea Change" Cameron Smith Shoes</p>
        <h5><span class="span-3">$64.500</span></h5>
        </div>
    </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
