<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/categoria-create.css"/>
  </head>
 
  <body>
   
    <%- include('./partials/header.ejs')  %>  

  <main>
    <form action="/categorias/create" method="POST">
      <section class="contenedor">
        <div class="titulo">
          <h1>ADMINISTRADOR -  ALTA DE CATEGORÍAS</h1>
        </div>
        <div class="fila">
          <div class="fila-item">
            <label>CATEGORÍA:</label>
            <input name="nombre" type="text"  id="nombre" class="input-form" value=""/>
          </div>
          
        </div>
        
        <div class="fila" style="justify-content: flex-end;">
          <div class="fila-item">
            <button type="submit" id="guardar">GUARDAR</button> <a href="/categorias">VOLVER A LA LISTA</a>
          </div>
        </div>
      </section>
    </form>

</main>

<%- include('./partials/footer.ejs')  %>
 
</body>
</html>

