<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/contacto.css"/>
  </head>

 
  <body class="contacto">
    <%- include('./partials/header.ejs') %>
    <main>
  <div class="logo-gas">
    <img src="/images/logo-header.png" alt="Golf de Altura Store" />
      <div class="info">
        <h3>¿PREGUNTAS O COMENTARIOS?</h3>
        <p>Llame al: 0-888-555-2328</p>                   
        <p>consultas@gofldealturastore.com.ar</p>
      </div>
    <div calss="info-personal">
      <h3>
        NO VENDER MI INFORMACION PERSONAL
      </h3>
      <p>
        Como empresa protegida por la ley 25.326 (Protección de los Datos Personales), no vendemos información personal. 
        En cambio, podemos compartir información personal con terceros o permitirles recopilar información personal de nuestro sitio
        si esos terceros son proveedores de servicios autorizados o socios comerciales que han aceptado nuestras limitaciones de contrato en cuanto a su retención,
        uso y divulgación de dicha información personal.
        Información, o si interactúa con estos terceros a través del Sitio o nos indica
        que divulguemos su Información personal a terceros. Para excluirse de "No vender mi información personal",
        llame al 0-888-555-2328 o envíenos un correo electrónico a privacidad@gas.com.ar 
      </p>
    </div>
      <div class="torneos">
        <h3>TORNEOS</h3>
        <p>GOLF DE ALTURA STORE se asocia de muchas maneras diferentes con torneos y eventos benéficos.  
          Si usted o su organización están organizando un torneo o evento de golf y 
          desea que uno de nuestros coordinadores de eventos se comunique con usted, 
          escribanos a eventos@golfdealturastore.com.ar y nos pondremos en contacto con usted.</p>
      </div>
      <form action=""></form>
      <div class="fila">
        <label>Nombre/s*</label>
        <input type="text" id="nombre" name="nombre" class="input-form" required/>
      </div>
      <br>
        <div class="fila">
        <label>Apellido/s*</label>
        <input type="text" id="apellido" name="apellido" class="input-form" required/>
      </div>
      <br>
      <div class="fila">
        <label>Dirección de correo*</label>
        <input type="text" id="email" name="email" class="input-form" required/>
      </div>
      <br>
      <div class="fila">
        <label>Confirmación de correo*</label>
        <input type="text" id="confirm-email" class="input-form" required/>
      </div>
      <br>
      <div class="fila">
        <label>Numero de Telefono*</label>
        <input type="number" id="telefono" name="telefono" class="input-form" required/>
        <label class="fila" style="font-size: 15px; color: gray;" >Ej: 333-3333333 (sin 0 y 15).</label>
      </div>
</div>
</main>
   <%- include('./partials/footer.ejs') %>
  </body>
</html>

<div class="slideshow-container">

   