<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/contacto.css"/>
  </head>

 
  <body class="contacto">
    <%- include('./partials/header.ejs') %>
    <main>
  <div class="info">
    <h3>¿PREGUNTAS O COMENTARIOS?</h3>
    <p>Llame al: 0-888-555-2328</p>                   
    <p>consultas@gofldealurastore.com.ar</p>
  </div>
</main>
   <%- include('./partials/footer.ejs') %>
  </body>
</html>

<div class="slideshow-container">

   