<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/gps.css"/>
  </head>
  <body class="gps">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>GPS -UBICATE EN EL CAMPO</h2>
        <h4>MEJORA TU JUEGO</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">
      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-gps-lista">
            <images src="/images/GPS-Garmin de mano.webp" alt="">
            <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>GPS - GARMIN</h6>
            <p>Garmin enfoque G30 GPS</p>
            <h5><span class="span-1">$163.500</span><span class="span-2">$114.450</span></h5>
            <p class="p-descuento">Ahorra 30%</p>
            </div>
        </li>
        <li class="producto-gps-lista">
          <images src="/images/GPS-FullSwing.webp" alt="">
          <div class="tamaño-hr"><br><br>
          <h6>GPS - FULLSWING</h6>
          <p>Monitor de lanzamiento de KIT</p>
          <h5><span class="span-1">$363.500</span><span class="span-2">$314.450</span></h5>
          <p class="p-descuento">Ahorra 30%</p>
          </div>
      </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
