<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/hibridos.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="hibridos">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>HIBRIDOS DE GOLF</h2>
        <h4> 9 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-hibridos-lista">
            <img src="/images/hibrido-3.webp" alt="">
            <div class="tamaño-hr">
              <p class="nuevo">NUEVO</p>
            <h6>TAYLORMADE SIM 2 MAX - HIBRIDO</h6>
            <p>Graphite Shaft - Stiff/Regular</p>
            <h5><span class="span-1">$81.000</span><span class="span-2">$74.520</span></h5>
            <p class="p-descuento">Ahorra 8%</p>
            </div>
        </li>
        <li class="producto-hibridos-lista">
          <img src="/images/hibrido-2.webp" alt="">
          <div class="tamaño-hr">
          <h6>CALLAWAY MAVERIK - HIBRIDO</h6>
          <p>Graphite Shaft - Stiff/Regular</p>
          <h5><span class="span-2">$65.400</span></h5>
          </div>
      </li>
      <li class="producto-hibridos-lista">
        <img src="/images/hibrido-1.webp" alt="">
        <div class="tamaño-hr">
        <h6>PING G425 - HIBRIDO</h6>
        <p>Graphite Shaft - Stiff/Regular</p>
        <h5><span class="span-2">$98.100</span></h5>
        </div>
    </li>
      <li class="producto-hibridos-lista">
        <img src="/images/hibrido-8.webp" alt="">
        <div class="tamaño-hr">
        <h6>CLEVELAND LAUNCHER XL - HIBRIDO</h6>
        <p>Graphite Shaft - X-Stiff/Stiff/Regular</p>
        <h5><span class="span-2">$65.400</span></h5>
        </div>
    </li>
            <li class="producto-hibridos-lista">
              <img src="/images/hibrido-4.webp" alt="">
              <div class="tamaño-hr">
              <h6>TITLEIST TSi 2 - HIBRIDO </h6>
              <p>Graphite Shaft - X-Stiff/Stiff/Regular</p>
              <h5><span class="span-1">$91.233</span><span class="span-2">$77.549</span></h5>
              <p class="p-descuento"> Ahorra 15% </p>
              </div>
           </li>

            <li class="producto-hibridos-lista">
              <img src="/images/hibrido-10.webp" alt="">
              <div class="tamaño-hr">
              <h6>COBR RAD SPEED WOMEN'S - HIBRIDO</h6>
              <p>Graphite Shaft - X-Stiff/Stiff/Regular</p>
              <h5><span class="span-1">$75.210</span><span class="span-2">$71.450</span></h5>
              <p class="p-descuento">Ahorra 5%</p>
              </div>
            </li>

            <li class="producto-hibridos-lista">
                <img src="/images/hibrido-5.webp" alt="">
                <div class="tamaño-hr">
                <p class="nuevo">NUEVO</p>
                <h6>TITLEIST TSi 3 - HIBRIDO</h6>
                <p>Graphite Shaft - Stiff/Regular</p>
                <h5><span>$91.233</span></h5>
                </div>
            </li>

            <li class="producto-hibridos-lista">
                <img src="/images/hibrido-6.webp" alt="">
                <div class="tamaño-hr">
                <p class="nuevo">NUEVO</p>
                <h6>TAYLORMADE STEALTH  - HIBRIDO</h6>
                <p>Graphite Shaft - Stiff/Regular</p>
                <h5><span class="span-1">$91.233</span><span class="span-2">$82.110</span></h5>
                <p class="p-descuento">Ahorra 10%</p>
                </div>
            </li>

            <li class="producto-hibridos-lista">
                <img src="/images/hibrido-7.webp" alt="">
                <div class="tamaño-hr"><br>
                <h6>PING G410 - HIBRIDO </h6>
                <p>Graphite Shaft - Stiff/Regular</p>
                <h5><span class="span-3">$98.100</span></h5>
                <p class="p-descuento"></p>
                </div>
            </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
