<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/hierros.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="hierros">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2> SET HIERROS DE GOLF</h2>
        <h4> 16 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-hierros-lista">
            <images src="/images/hierros-1.webp" alt="">
            <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>PING G425 WOMEN'S IRONS</h6>
            <p>Graphite Shaft Regular -  Set 5-PW,UW (7-Irons)</p>
            <h5><span class="span-1">$359.046</span><span class="span-2">$305.049</span></h5>
            <p class="p-descuento">Ahorra 15%</p>
            </div>
        </li>
        <li class="producto-hierros-lista">
          <images src="/images/hierros-2.webp" alt="">
          <div class="tamaño-hr">
          <h6>TITLEIST T300 2021</h6>
          <p>Steel Shaft Stiff/Regular - Set 5-PW,AW (7-Irons)</p>
          <h5><span class="span-1">$326.673</span><span class="span-2">$294.006</span></h5>
          <p class="p-descuento">Ahorra 10%</p>
          </div>
      </li>
      <li class="producto-hierros-lista">
        <images src="/images/hierros-3.webp" alt="">
        <div class="tamaño-hr">
        <h6>TAYLORMADE M4 2021</h6>
        <p>Graphite Shaft Stiff/Regular - Set 5-PW,AW (7-Irons)</p>
        <h5><span class="span-2">$228.573</span></h5>
        </div>
    </li>
      <li class="producto-hierros-lista">
        <images src="/images/hierros-4.webp" alt="">
        <div class="tamaño-hr">
        <h6>CALLAWAY MAVERIK 2022</h6>
        <p>Steel Shaft Stiff/Regular - Set 5-PW (6-Irons)</p>
        <h5><span class="span-1">$293.973</span><span class="span-2">$235.179</span></h5>
        <p class="p-descuento">Ahorra 20%</p>
        </div>
    </li>
    <li class="producto-hierros-lista">
      <images src="/images/hierros-5.webp" alt="#">
      <div class="tamaño-hr">
      <h6>TAYLORMADE SIM2 MAX 2022</h6>
      <p>Graphite/Steel Shaftc Stiff/Regular - Set 5-PW,AW (7-Irons)</p>
      <h5><span class="span-2">$336.156</span></h5>
      </div>
  </li>

      <li class="producto-hierros-lista">
        <images src="/images/hierros-6.webp" alt="#">
        <div class="tamaño-hr">
        <p class="nuevo">NUEVO</p>
        <h6>MIZUNO JPX921 HOT METAL IRONS</h6>
        <p>Steel Shaft Stiff - Set 5-PW,AW (7-Irons)</p>
        <h5><span class="span-2">$326.673</span></h5>
        </div>
    </li>
      <li class="producto-hierros-lista">
          <images src="/images/hierros-7.webp" alt="#">
          <div class="tamaño-hr">
          <h6>TAYLORMADE P.790 2021 - FORGED</h6>
          <p>Graphite Shaft - Stiff/Regular - Set 4-PW (7-Irons)</p>
          <h5><span class="span-1">$490.500</span><span>$416.925</span></h5>
          <p p class="p-descuento">Ahorra 15%</p>
          </div>
      </li>

      <li class="producto-hierros-lista">
          <images src="/images/hierros-8.webp" alt="#">
          <div class="tamaño-hr">
          <p class="nuevo">NUEVO</p>
          <h6>TAYLORMADE - STEALTH FORGED</h6>
          <p>Graphite Shaft - Stiff/Regular - Set 4-PW (7-Irons)</p>
          <h5><span class="span-2">$308.034</span></h5>
          </div>
      </li>

      <li class="producto-hierros-lista">
          <images src="/images/hierros-9.webp" alt="#">
          <div class="tamaño-hr">
          <h6>TITLEIST T200</h6>
          <p>Graphite/Steel Shaft - Stiff/Regular - Set 4-PW,SW (8-Irons)</p>
          <h5><span class="span-3">$457.473</span></h5>
          </div>
      </li>

      <li class="producto-hierros-lista">
          <images src="/images/hierros-10.webp" alt="#">
          <div class="tamaño-hr">
          <p class="nuevo">NUEVO</p>
          <h6>CALLAWAY ROUGE ST MAX OS</h6>
          <p>Graphite/Steel Shaft - Stiff/Regular - Set 4-PW,SW (8-Irons)</p>
          <h5><span class="span-1">$420.195</span><span class="span-2">$315.147</span></h5>
          <p class="p-descuento">Ahorra 25%</p>
          </div>
      </li>

      <li class="producto-hierros-lista">
          <images src="/images/hierros-11.webp" alt="#">
          <div class="tamaño-hr">
          <h6>TITLEIST 620 MB</h6>
          <p>Steel Shaft - Stiff/Regular - Set 5-PW,SW (7-Irons)</p>
          <h5><span class="span-1">$400.575</span><span class="span-2">$360.518</span></h5>
          <p class="p-descuento">Ahorra 10%</p>
          </div>
      </li>
      <li class="producto-hierros-lista">
        <images src="/images/hierros-12.webp" alt="#">
        <div class="tamaño-hr">
        <h6>SRIXON ZX5</h6>
        <p>Steel Shaft - Stiff/Regular - Set 4-PW (7-Irons)</p>
        <h5><span class="span-1">$371.799</span><span class="span-2">$353.210</span></h5>
        <p class="p-descuento">Ahorra 5%</p>
        </div>
    </li>

      <li class="producto-hierros-lista">
          <images src="/images/hierros-13.webp" alt="">
          <div class="tamaño-hr">
          <p class="nuevo">NUEVO</p>
          <h6>COBRA KING Forged TEC Copper</h6>
          <p>Steel Shaft - Stiff/Regular - Set 5-PW,SW (7-Irons)</p>
          <h5><span class="span-2">$392.073</span></h5>
          </div>
      </li>
      <li class="producto-hierros-lista">
        <images src="/images/hierros-14.webp" alt="">
        <div class="tamaño-hr">
        <p class="nuevo">NUEVO</p>
        <h6>PING i525</h6>
        <p>Graphite Shaft - Stiff/Regular - Set 5-PW,SW (7-Irons)</p>
        <h5><span class="span-1">$429.024</span><span class="span-2">$351.800</span></h5>
        <p class="p-descuento">Ahorra 18%</p>
        </div>
    </li>
    <li class="producto-hierros-lista">
      <images src="/images/hierros-15.webp" alt="">
      <div class="tamaño-hr">
      <h6>WILSON D7</h6>
      <p>Tour 80 Steel Shaft - Stiff/Regular - Set 5-PW,GW (7-Irons)</p>
      <h5><span class="span-2">$23.400</span></h5>
      </div>
    </li>
    <li class="producto-hierros-lista">
      <images src="/images/hierros-16.webp" alt="">
      <div class="tamaño-hr">
      <p class="nuevo">NUEVO</p>
      <h6>MIZUNO PRO 225</h6>
      <p>KBS Steel Shaft - Stiff/Regular - Set 4-PW (7-Irons)</p>
      <h5><span class="span-2">$428.697</span></h5>
      </div>
    </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
