<!DOCTYPE html>
<html lang="es">
  <head>
<<<<<<< HEAD
   
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>

=======
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>
 
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2
<body>

  <%- include('./partials/header.ejs')  %>     


<<<<<<< HEAD
  <main>

    <div class="main-home">
     <div id="juan-slider">
        <span class="fa fa-chevron-left" onclick="mostrarSlide(-1)"></span>
        <ul class="slider">
          <li id="slide1" class="slider-item active">
            <div></div>
            <div>
              <h1>FELICIDADES A CAMERON SMITH</h1>
              <h2>EN SU PRIMERA VICTORIA DEL CIRCUITO PGA TOUR<br>GANADOR DEL THE OPEN</h2>
              <a href="/productos/cameronSmith" class="button-slide">COMPRA SU EQUIPO AQUÍ</a>
            </div>
          </li>
          <li id="slide2" class="slider-item">
            <div>
              <h1>ARMA TU BOLSA COMO LOS PROFESIONALES</h1>
              <a href="products/3" class="button-slide">COMPRE AHORA AQUÍ</a>
            </div>
            <div>
              
            </div>
          </li>
          <li id="slide3" class="slider-item">
           <div>
              <h1>LA MEJOR COMODIDAD PARA SALIR AL CAMPO DE JEUGO</h1>
              <h2>TODASLAS MARCAS DEL TOUR ARGENTINO</h2>
              <a href="/products/7/23" class="button-slide">COMPRE AHORA AQUÍ</a>
            </div>
          </li>
          <li id="slide4" class="slider-item">
            <div></div>
            <div>
              <h1>HIERROS Y MAS...</h1>
              <h2>LO MEJOR PARA TU JUEGO</h2>
              <button>COMPRE AHORA AQUÍ</button>
            </div>
            
            </li>
            <li id="slide5" class="slider-item">
              <div></div>
              <div>
                <h1>¿QUE ESTA DE MODA?</h1>
                <h2>LUCIR DE LA MENOR MANERA FUERA Y DENTRO DEL CAMPO</h2>
                <a href="/products/6/15" class="button-slide">COMPRE ROPA HOMBRE</a>
                <a href="/products/6/16" class="button-slide">COMPRE ROPA MUJER</a>
              </div>
            </li>
            <li id="slide6" class="slider-item">
              <div></div>
              <div>
                <h1>PELOTAS</h1>
                <h2>LAS MAS ELEGIDAS POR LOS PROFESIONALES DEL PGA TOUR</h2>
                <button type="button">COMPRE AHORA AQUÍ</button>
              </div>
            </li>
        </ul>
        <ul class="menu-de-a">
          <li><a id="slide_1" class="slider-item active" href="#" onclick="mostrarSlide(1)"></a></li>
          <li><a id="slide_2" class="slider-item" href="#" onclick="mostrarSlide(2)"></a></li>
          <li><a id="slide_3" class="slider-item" href="#" onclick="mostrarSlide(3)"></a></li>
          <li><a id="slide_4" class="slider-item" href="#" onclick="mostrarSlide(4)"></a></li>
          <li><a id="slide_5" class="slider-item" href="#" onclick="mostrarSlide(5)"></a></li>
          <li><a id="slide_6" class="slider-item" href="#" onclick="mostrarSlide(6)"></a></li>
        </ul>
        <span class="fa fa-chevron-right" onclick="mostrarSlide(0)"></span>
      </div>
   </div>
   <section class="productos-nuevos">
    <div class="palos-titleist">
      <div>
        <img src="/images/logos-listos.webp/logo-cobra-black.webp" alt="">
        <br>
        <br>
        <h4>EL MEJOR EQUIPO Y LAS MEJORES MARCAS</h4>
        <a href="products/3">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/cobra-banner.webp" alt="">
      </div>
    </div>
    <div class="bushnells">
      <div>
        <img src="/images/logos-listos.webp/logo-bushnnell-black.webp" alt="">
        <h4>AHORRA 30% EN TECNOLOGIAS</h4>
        <a href="/products/5/21">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/bushnell-golf.webp" alt="Bushnells Rangefinders">
      </div>
    </div>
    <div class="bushnells">
      <div>
        <img src="/images/logos-listos.webp/Titleist-BLACK.webp" alt="">
        <h4>AHORRA 20% EN BOLSAS</h4>
        <a href="/products/2/1">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/BOLSAS-BANNER-HOME.webp" alt="Bushnells Rangefinders">
      </div>
    </div>
    <div class="golf-coleccion">
      <div>
        <img src="/images/logos-listos.webp/logo-taylormade-black.webp" alt="">
        <h4>2 POR $ 11.500 - TAYLORMADE DISTANCE +</h4>
        <a href="/products/4/13">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/TAYLORMADE-BANNER-HOME.webp" alt="">
      </div>
    </div>
    <div class="golf-coleccion">
      <div>
        <img src="/images/logos-listos.webp/puma-black.webp" alt="puma">
        <h4>AHORRE UN 15% - TODAS LAS MARCAS EN ZAPATOS</h4>
        <a href="/products/7">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/PUMA-BANNER-HOME.webp" alt="">
      </div>
    </div>
    <div class="nike-coleccion">
      <div>
        <img src="/images/logos-listos.webp/LOGO-NIKE-GOLF2.png" alt="">
        <h4>GRAN VARIEDAD EN INDUMENTARIA</h4>
        <a href="/productos/vestir">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/NIKE-BANNER-HOME.webp" alt="">
      </div>
    </div>
    <div class="clases-golf">
      <div>
        <img src="/images/logo.png" alt="">       
        <h4>NUEVO PAQUETE CLASES</h4>
        <h5>PERSONALIZADAS Y GRUPALES</h5>
        <a href="/lecciones">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/gold-2-1.webp" alt="">
      </div>
    </div>
   </section>   
   <div class="bloques-productos">
    <div class="indumentaria-home">
      <img src="/images/indumentaria-vestir.webp" alt="" />
      <div class="text-col1">
        <a href="/products/6/15"><span class ="text-col1">LO MEJOR EN INDUMENTARIA</span></a>
      </div>
      <div class="col1">
        <a href="/products/1/5"><img src="/images/logos-listos.webp/logo-taylormade.webp" alt=""></a>
        <a href="/products/1/5"><img src="/images/logos-listos.webp/logo-ping-golf.webp" alt=""></a>
        <a href="/products/1/5"><img src="/images/logos-listos.webp/logo-srixon-golf.webp" alt=""></a>   
     </div> 
        <div class="col2">
          <a href="/products/6/15"><img src="/images/logos-listos.webp/logo-nike-golf.webp" alt=""></a>
          <a href="/products/1/5"><img src="/images/logos-listos.webp/logo-cobra-golf.webp" alt=""></a>
          <a href="/products/6/16"><img src="/images/logos-listos.webp/logo-adidas-golf.webp" alt=""></a>
        </div>  
        <div class="col3">
          <a href="/products/6/15"><img src="/images/logos-listos.webp/logo-callaway.webp" alt=""></a>
          <a href="/products/6/16"><img src="/images/logos-listos.webp/logo-puma-golf.webp"  alt=""></a>
          <a href="/products/6/15"><img src="/images/logos-listos.webp/logo-under-golf.webp" alt=""></a>  
        </div>
        <div class="col4">
          <a href="/products/6/16"><img src="/images/logos-listos.webp/logo-cleveland-golf.webp" alt=""></a>
          <a href="/products/1/5"><img src="/images/logos-listos.webp/logo-mizuno-golf.webp" alt=""></a>
          <a href="/products/6/15"><img src="/images/logos-listos.webp/logo-titleist-golf.webp" alt=""></a>  
        </div>
      </div>
    <div class="carros-home">
      <img src="/images/bolsas y carrosjpeg.jpeg" alt="">
      <a href="/products/2"><span>BOLSAS Y CARROS</span></a>
    </div>
    <div class="palos-home">
        <img src="/images/Callaway_JawsRaw_banner_HeroDv1-SLIDER-HOME.webp" alt="">
        <a href="/products/3/24"><span> CALLAWAY JAWS RAW</span></a>
    </div>
  </div>  
   <div class="marcas">
     <img src="/images/logos-listos.webp/logo-adidas-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-Bridgestone-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-callaway.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-cleveland-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-clicgear.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-cobra-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/Logo-FootJoy-White.webp"width="80px" height="50px"  alt="">
     <img src="/images/logos-listos.webp/logo-mizuno-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-nike-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-ping-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-puma-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-srixon-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-taylormade.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-titleist-golf.webp" width="80px" height="50px" alt="">
     <img src="/images/logos-listos.webp/logo-under-golf.webp" width="80px" height="50px" alt="">
   </div>
   <div class="final-home"></div>
   
   </main>
=======
<main>
 
 <div class="main-home">
  <div id="juan-slider">
  <ul class="slider">
    <li id="slide1">
      <img src="/img/campos/carilo-golf-club/slide1.jpg" alt="Slide image 1">
    </li>

    <li id="slide2">
<img src="/img/campos/villa-allende/slide2.jpg" alt="Slide image 2">
    </li>

    <li id="slide3">
      <img src="/img/2022_theOpen_Winner_D_hero.webp"  alt="">
      <button>COMPRA SU EQUIPO AQUÍ</button>
    </li>
  </ul>
  <ul class="menu-de-a">
<li>
  <a href="slide1"></a>
</li>
<li>
  <a href="slide2"></a>
</li>
<li>
  <a href="slide3"></a>
</li>
  </ul>

 </div>
</div>


<section class="productos-nuevos">
<div class="palos-titleist">
<img src="/img/titleistpalos.jpeg" alt="New release titleist irons">
<h4>PEDILOS HOY</h4>
<h5>LANZAMIENTO 10/09/2022</h5>
</div>
<div class="bushnells">
<img src="/img/bushnell-golf.webp" alt="Bushnells Rangefinders">
<h4>AHORRA $9.999</h4>
<h5>BUSHNELL V5 RANGEFINDERS</h5>
</div>
<div class="callaway-coleccion">
  <img src="/img/golf-1-1.jpeg" alt="">
 <h4>NUEVA COLLECCION CALLAWAY</h4>
 <h5>PEDILOS HOY</h5>
 <h6>LANZAMIENTO 7/10/2022</h6>
</div>
<div class="clases-golf">
<img src="/img/gold-2-1.webp" alt="">
<h4>NUEVO PAQUETE CLASES</h4>
<h5>PERSONALIZADAS</h5>
<h6>GRUPALES</h6>
</div>
</section>

<div class="suscripcion-home">
<h4>SUBSCRIBETE AL NEWSLETTER</h4>
<div class="nombre-a-sus">
  <label for="nombreapellido">Nombre y apellido</label>
  <input type="text" name="nombreapellido" maxlength="200" required>
</div>
<div class="email-sus">
  <label for="email-subscripcion">EMAIL</label>
  <input type="email" name="email-subscripcion" maxlength="200" required >
</div>
<div class="enviar-sus">
  <button type="submit" id="suscripcion">ENVIAR</button>
</div>
</div>



<div class="bloques-productos">
<div class="indumetaria-home">
  <img src="/img/golf-indumentaria.jpeg" alt="">
  <span>INDUMENTARIA</span>
</div>
<div class="carros-home">
  <img src="/img/carros-golf.jpeg" alt="">
  <span>CARROS</span>
</div>
<div class="palos-home"><img src="/img/palos-golf1.jpeg" alt="">
  <span>PALOS DE GOLF</span>
</div>


</main>
>>>>>>> 69ae88f32f073b3a683f9258d55c7b917dfab6c2

<%- include('./partials/footer.ejs')  %>



</body>
</html>