<!DOCTYPE html>
<html lang="es">
  <head>
   
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>

<body>

  <%- include('./partials/header.ejs')  %>     


  <main>

    <div class="main-home">
     <div id="juan-slider">
        <span class="fa fa-chevron-left" onclick="mostrarSlide(-1)"></span>
        <ul class="slider">
          <li id="slide1" class="slider-item active">
            <div></div>
            <div>
              <h1>FELICIDADES A CAMERON SMITH</h1>
              <h2>EN SU PRIMERA VICTORIA DEL CIRCUITO PGA TOUR<br>GANADOR DEL THE OPEN</h2>
            </div>
          </li>
          <li id="slide2" class="slider-item">
            <div>
              
            </div>
            <div>
              <h1>ARMA TU BOLSA COMO LOS PROFESIONALES</h1>
            </div>
          </li>
          <li id="slide3" class="slider-item">
           <div>
              <h1>LA MEJOR COMODIDAD PARA SALIR AL CAMPO DE JUEGO</h1>
            </div>
          </li>
          <li id="slide4" class="slider-item">
            <div>
              <h1>HIERROS Y MAS...</h1>
              <h2>LO MEJOR PARA TU JUEGO</h2>
            </div>
            <div></div>
            </li>
            <li id="slide5" class="slider-item">
              <div>
                <h1>¿QUE ESTA DE MODA?</h1>
                <h2>LUCIR DE LA MENOR MANERA FUERA Y DENTRO DEL CAMPO</h2>
              </div>
              <div>
              </div>
            </li>
            <li id="slide6" class="slider-item">
              <div>
                <h1>PELOTAS</h1>
                <h2>LAS MAS ELEGIDAS POR LOS PROFESIONALES DEL PGA TOUR</h2>
              </div>
              <div>
              </div>
            </li>
        </ul>
        <ul class="menu-de-a">
          <li><a id="slide_1" class="slider-item active" href="#" onclick="mostrarSlide(1)"></a></li>
          <li><a id="slide_2" class="slider-item" href="#" onclick="mostrarSlide(2)"></a></li>
          <li><a id="slide_3" class="slider-item" href="#" onclick="mostrarSlide(3)"></a></li>
          <li><a id="slide_4" class="slider-item" href="#" onclick="mostrarSlide(4)"></a></li>
          <li><a id="slide_5" class="slider-item" href="#" onclick="mostrarSlide(5)"></a></li>
          <li><a id="slide_6" class="slider-item" href="#" onclick="mostrarSlide(6)"></a></li>
        </ul>
        <span class="fa fa-chevron-right" onclick="mostrarSlide(0)"></span>
      </div>
   </div>
   <section class="productos-nuevos">
    <div class="palos-titleist">
      <div>
        <img src="/images/logos-listos.webp/cobra-logo.png" alt="">
        <br>
        <br>
        <h4>EL MEJOR EQUIPO Y LAS MEJORES MARCAS</h4>
        <a href="products/3" class="btn-comprar-ahora">COMPRA AHORA</a>
      </div>
      <div class="video-home">
        <video id="smartlife_video" poster="https://www.cobragolf.com/media/wysiwyg/homepage/1920_624_HOMEPAGE_BANNER_v2b_2-min.jpg" autoplay muted loop playsinline>
          <source src="https://www.cobragolf.com/media/wysiwyg/homepage/1920_624_HOMEPAGE_BANNER_Mobile_v3_min.mp4" type="video/mp4">
          </video>
      </div>
    </div>
    <div class="bushnells">
      <div>
        <img src="/images/logos-listos.webp/bushnell logo.png" alt="">
        <h4>AHORRA 30% EN TECNOLOGIAS</h4>
        <a href="/products/5/21">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/banner-bushnell2-golf.webp" alt="Bushnells Rangefinders">
      </div>
    </div>
    <div class="bushnells">
      <div>
        <img src="/images/logos-listos.webp/Titleist-BLACK.webp" alt="">
        <h4>AHORRA 20% EN BOLSAS</h4>
        <a href="/products/2/1">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/BOLSAS-BANNER-HOME.webp" alt="Bushnells Rangefinders">
      </div>
    </div>
    <div class="golf-coleccion">
      <div>
        <img src="/images/logos-listos.webp/taylormade-logo-vector.png" alt="">
        <h4>2 POR $ 11.500 - TAYLORMADE DISTANCE +</h4>
        <a href="/products/4/13">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/TAYLORMADE-BANNER-HOME.webp" alt="">
      </div>
    </div>
    <div class="golf-coleccion">
      <div>
        <img src="/images/logos-listos.webp/puma-black.webp" alt="puma">
        <h4>AHORRE UN 15% - TODAS LAS MARCAS EN ZAPATOS</h4>
        <a href="/products/7">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/PUMA-BANNER-HOME.webp" alt="">
      </div>
    </div>
    <div class="nike-coleccion">
      <div>
        <img src="/images/logos-listos.webp/nikegolflogo1.webp" alt="">
        <h4>GRAN VARIEDAD EN INDUMENTARIA</h4>
        <a href="/products/6">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/NIKE-BANNER-HOME.webp" alt="">
      </div>
    </div>
    <div class="clases-golf">
      <div>
        <img src="/images/logo.png" alt="">       
        <h4>CLASES PERSONALIZADAS Y GRUPALES</h4>
        <a href="/lecciones">COMPRA AHORA</a>
      </div>
      <div>
        <img src="/images/gold-2-1.webp" alt="">
      </div>
    </div>
   </section>   
   <div class="bloques-productos">
      <div class="indumentaria-home">
        <div class="text-indumentaria">
          <!-- <img src="/images/indumentaria-vestir.webp" alt="" /> -->
          <div>
            <section aria-label="control deslizante" class="w-100 flex items-center relative vtex-store-image-0-x-sliderLayoutContainer vtex-store-image-0-x-sliderLayoutContainer--topBrandsSlider"><div class="w-100 vtex-store-image-0-x-sliderTrackContainer vtex-store-image-0-x-sliderTrackContainer--topBrandsSlider overflow-hidden"><div data-testid="slider-track" class="vtex-store-image-0-x-sliderTrack vtex-store-image-0-x-sliderTrack--topBrandsSlider flex justify-around relative pa0 ma0" aria-atomic="false" aria-live="polite" style="transform: translate3d(-11.1111%, 0px, 0px); width: 900%;"><div aria-hidden="true" role="none presentation" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"></div></div><div aria-hidden="false" role="group" aria-roledescription="deslizar" aria-label="1 de 7" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--visible vtex-store-image-0-x-slide--topBrandsSlider--visible flex relative" data-index="1" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/travismathew?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="Ropa de TravisMathew" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/444ab995-f862-4a55-80b9-db1322205a51___04c0ba10c6cb8ca34c91e5be1537db76.jpg" alt="Ropa de TravisMathew" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div><div aria-hidden="true" role="group" aria-roledescription="deslizar" aria-label="2 de 7" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" data-index="2" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/adidas?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="ropa adidas" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/60e95ea5-53f0-4aa2-a69c-ad93f8e0fae2___feafb30f5c7cb95322e0af957eb381ea.jpg" alt="ropa adidas" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div><div aria-hidden="true" role="group" aria-roledescription="deslizar" aria-label="3 de 7" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" data-index="3" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/nike?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="Ropa Nike" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/5d6bea8d-e1c1-498b-aba3-bf849d8b0ddb___091d26645f7e1d6c18ccf03082290e15.jpg" alt="Ropa Nike" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div><div aria-hidden="true" role="group" aria-roledescription="deslizar" aria-label="4 de 7" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" data-index="4" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/footjoy?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="Indumentaria Footjoy" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/91b46fc3-75f8-4aca-80c4-b23bfecb8134___a7c53bfed8174868e3da445af5a95dd1.jpg" alt="Indumentaria Footjoy" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div><div aria-hidden="true" role="group" aria-roledescription="deslizar" aria-label="5 de 7" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" data-index="5" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/puma?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="Ropa Puma" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/fd3bdf3b-eb43-42e7-a986-bed425c12760___631e00d0753d6287ca8dddb1cd282c27.jpg" alt="Ropa Puma" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div><div aria-hidden="true" role="group" aria-roledescription="deslizar" aria-label="6 de 7" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" data-index="6" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/ben-hogan?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="Ben Hogan Apparel" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/5c5fd1c0-b0e3-4ba6-88cd-14d53847e29b___8e29835110d3a17ae5180278860469f4.jpg" alt="Ben Hogan Apparel" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div><div aria-hidden="true" role="group" aria-roledescription="deslizar" aria-label="7 de 7" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" data-index="7" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/titleist?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="Titleist Apparel" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/8ffe2cc3-fee6-45a1-bc0a-957f91867254___6c3ae8cdc360e1ef4c8fb07b478b981a.jpg" alt="Titleist Apparel" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div><div aria-hidden="true" role="none presentation" class="vtex-store-image-0-x-slide vtex-store-image-0-x-slide--topBrandsSlider vtex-store-image-0-x-slide--firstVisible vtex-store-image-0-x-slide--topBrandsSlider--firstVisible vtex-store-image-0-x-slide--hidden vtex-store-image-0-x-slide--topBrandsSlider--hidden flex relative" style="width: 11.1111%;"><div class="vtex-store-image-0-x-slideChildrenContainer vtex-store-image-0-x-slideChildrenContainer--topBrandsSlider flex justify-center items-center w-100"><a href="/apparel/travismathew?map=c,b" title="" rel="" class="vtex-store-image-0-x-imageElementLink vtex-store-image-0-x-imageElementLink--topBrandsSlider vtex-store-components-3-x-imageElementLink vtex-store-components-3-x-imageElementLink--topBrandsSlider"><img title="TravisMathew Apparel" sizes="" srcset="" src="https://worldwidegolf.vtexassets.com/assets/vtex.file-manager-graphql/images/444ab995-f862-4a55-80b9-db1322205a51___04c0ba10c6cb8ca34c91e5be1537db76.jpg" alt="TravisMathew Apparel" class="vtex-store-image-0-x-imageElement vtex-store-image-0-x-imageElement--topBrandsSlider vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--topBrandsSlider" crossorigin="anonymous" style="width: 100%;"></a></div></div></div></div><button class="vtex-store-image-0-x-sliderLeftArrow vtex-store-image-0-x-sliderLeftArrow--topBrandsSlider left-0 vtex-store-image-0-x-sliderArrows vtex-store-image-0-x-sliderArrows--topBrandsSlider absolute transparent ma2 flex items-center justify-center bn outline-0 pointer" aria-controls="slider-items" aria-label="Diapositiva anterior" style="background: transparent;"><svg fill="none" width="25" height="25" viewBox="0 0 16 16" class=" vtex-store-image-0-x-caretIcon vtex-store-image-0-x-caretIcon--topBrandsSlider" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#nav-thin-caret--left" xlink:href="#nav-thin-caret--left"></use></svg></button><button class="vtex-store-image-0-x-sliderRightArrow vtex-store-image-0-x-sliderRightArrow--topBrandsSlider right-0 vtex-store-image-0-x-sliderArrows vtex-store-image-0-x-sliderArrows--topBrandsSlider absolute transparent ma2 flex items-center justify-center bn outline-0 pointer" aria-controls="slider-items" aria-label="La siguiente diapositiva" style="background: transparent;"><svg fill="none" width="25" height="25" viewBox="0 0 16 16" class=" vtex-store-image-0-x-caretIcon vtex-store-image-0-x-caretIcon--topBrandsSlider" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#nav-thin-caret--right" xlink:href="#nav-thin-caret--right"></use></svg></button></section>
          </div>
          
        </div>
      </div>
    </div> 
    <div class="carros-home">
      <img src="/images/bolsas y carrosjpeg.jpeg" alt="">
      <a href="/products/2"><span>BOLSAS Y CARROS</span></a>
    </div>
    <div class="palos-home">
        <img src="/images/Callaway_JawsRaw_banner_HeroDv1-SLIDER-HOME.webp" alt="">
        <a href="/products/3/23"><span> CALLAWAY JAWS RAW</span></a>
    </div> 
    <div class="marcas">
      <a href="https://www.adidas.com/us/golf" target="_blank"><img src="/images/logos-listos.webp/logo-adidas-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://www.bridgestonegolf.com/en-us/index" target="_blank"><img src="/images/logos-listos.webp/logo-Bridgestone-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://es.callawaygolf.com/" target="_blank"><img src="/images/logos-listos.webp/logo-callaway.webp" width="80px" height="50px" alt=""></a> 
      <a href="//www.clevelandgolf.com" target="_blank"><img src="/images/logos-listos.webp/logo-cleveland-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="http://www.clicgear.com/" target="_blank"><img src="/images/logos-listos.webp/logo-clicgear.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://www.cobragolf.com/" target="_blank"><img src="/images/logos-listos.webp/logo-cobra-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://www.footjoy.com/" target="_blank"><img src="/images/logos-listos.webp/Logo-FootJoy-White.webp"width="80px" height="50px"  alt=""></a> 
      <a href="https://mizunogolf.com/us/" target="_blank"><img src="/images/logos-listos.webp/logo-mizuno-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://www.nike.com/golf" target="_blank"><img src="/images/logos-listos.webp/logo-nike-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://ping.com/en-us/" target="_blank"><img src="/images/logos-listos.webp/logo-ping-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="//us.puma.com/us/en/golf" target="_blank"><img src="/images/logos-listos.webp/logo-puma-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="//www.srixon.com" target="_blank"><img src="/images/logos-listos.webp/logo-srixon-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://www.taylormadegolf.com/" target="_blank"><img src="/images/logos-listos.webp/logo-taylormade.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://www.titleist.com/" target="_blank"><img src="/images/logos-listos.webp/logo-titleist-golf.webp" width="80px" height="50px" alt=""></a> 
      <a href="https://www.underarmour.com/en-us/c/golf/" target="_blank"><img src="/images/logos-listos.webp/logo-under-golf.webp" width="80px" height="50px" alt=""></a> 
    </div>
    <div class="final-home"></div>
   
   </main>

<%- include('./partials/footer.ejs')  %>



</body>
</html>