<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/putters.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="putters">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>PUTTERS</h2>
        <h4> 12 RESULTADOS</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-putters-lista">
            <img src="/images/putters-1.webp" alt="">
            <div class="tamaño-hr">
              <p class="nuevo">NUEVO</p>
            <h6>TITLEIST</h6>
            <p>Scotty Cameron Special Select Newport 2.5 Putter</p>
            <h5><span class="span-1">$130.473</span><span class="span-2">$114.816</span></h5>
            <p class="p-descuento">Ahorra 12%</p>
            </div>
        </li>
        <li class="producto-putters-lista">
          <img src="/images/putters-2.webp" alt="">
          <div class="tamaño-hr"><br><br><br>
          <h6>ODYSSEY</h6>
          <p>2-Ball Ten Tour Authentic Putter</p>
          <h5><span class="span-1">$81.750</span><span class="span-2">$73.575</span></h5>
          <p class="p-descuento">Ahorra 10%</p>
          </div>
      </li>
      <li class="producto-putters-lista">
        <img src="/images/putters-3.webp" alt="">
        <div class="tamaño-hr"><br><br><br>
          <h6>TITLEIST</h6>
          <p>Scotty Cameron Phantom X 5.5 Putter</p>
        <h5><span class="span-2">$140.283</span></h5>
        </div>
    </li>
      <li class="producto-putters-lista">
        <img src="/images/putters-4.webp" alt="">
        <div class="tamaño-hr"><br><br>
        <h6>TAYLORMADE</h6>
        <p>Spider Tour 2020 Black Double Bend Putter</p>
        <h5><span class="span-2">$65.396</span></h5>
        </div>
    </li>
    <li class="producto-putters-lista">
      <img src="/images/putters-5.webp" alt="">
      <div class="tamaño-hr">
      <p class="nuevo">NUEVO</p>
      <h6>PING</h6>
      <p>Sigma 2 Anser Putter - Platinum Putter</p>
      <h5><span class="span-2">$65.396</span></h5>
      </div>
  </li>

      <li class="producto-putters-lista">
        <img src="/images/putters-6.webp" alt="">
        <div class="tamaño-hr">
        <h6>ODYSSEY</h6>
        <p>White Hot OG Seven Putter w/ Stroke Lab Shaft</p>
        <h5><span class="span-1">$87.963</span><span class="span-2">$74.883</span></h5>
        <p class="p-descuento">Ahorra 15%</p>
        </div>
    </li>

      <li class="producto-putters-lista">
          <img src="/images/putters-7.webp" alt="">
          <div class="tamaño-hr">
          <h6>MIZUNO</h6>
          <p>M CRAFT TYPE II Blue Ion Putter</p>
          <h5><span class="span-1">$98.100</span><span>$88.290</span></h5>
          <p>Ahorra 10%</p>
          </div>
      </li>

      <li class="producto-putters-lista">
          <img src="/images/putters-8.webp" alt="">
          <div class="tamaño-hr">
          <p class="nuevo">NUEVO</p>
          <h6>ODYSSEY</h6>
          <p>Odyssey Works Black 2020 #1</p>
          <h5><span class="span-2">$62.130</span></h5>
          </div>
      </li>

      <li class="producto-putters-lista">
        <img src="/images/putters-9.webp" alt="">
        <div class="tamaño-hr">
        <h6>PING</h6>
        <p>2021 Tyne C Putter</p>
        <h5><span class="span-3">$91.233</span></h5>
        <p class="p-descuento"></p>
        </div>
      </li>

      <li class="producto-putters-lista">
        <img src="/images/putters-10.webp" alt="">
        <div class="tamaño-hr">
        <h6>PING</h6>
        <p>G LE 2 Echo Women's Putter</p>
        <h5><span class="span-1">$91.233</span><span class="span-2">$86.001</span></h5>
        <p class="p-descuento">Ahorra 6%</p>
        </div>
      </li>

      <li class="producto-putters-lista">
          <img src="/images/putters-11.webp" alt="">
          <div class="tamaño-hr">
          <h6>TAYLORMADE</h6>
          <p>Spider GT Red #3 Putter</p>
          <h5><span class="span-1">$114.123</span><span class="span-2">$108.564</span></h5>
          <p class="p-descuento">Ahorra 5%</p>
          </div>
      </li>
            <li class="producto-putters-lista">
              <img src="/images/putters-12.webp" alt="">
              <div class="tamaño-hr">
              <h6>CLEVELAND</h6>
              <p>Frontline 10.5 Single Bend Putter</p>
              <h5><span class="span-2">$65.073</span></h5>
              </div>
          </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
