<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/simuladores.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="simuladores">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>SIMULADORES DE JUEGO</h2>
        <h4>MEJORA TU JUEGO DENTRO DE CASA</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-simuladores-lista">
            <img src="/images/simulador-GIAB Pro Website Image.webp" alt="">
            <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>OPTISHOT - Golf In a Box Pro</h6>
            <p>(Precio en dolares- producto enviado desde el fabricante)</p>
            <h5><span class="span-1">USD$ 5.350</span><span class="span-2">USD$ 3.745</span></h5>
            <p class="p-descuento">Ahorra 30%</p>
            </div>
        </li>
        <li class="producto-simuladores-lista">
          <img src="/images/simulador-GIABPRO_Studio_Revised.webp" alt="">
          <div class="tamaño-hr"><br><br>
          <h6>OPTISHOT - Golf In a Box 3</h6>
          <p>(Precio en dolares- producto enviado desde el fabricante)</p>
          <h5><span class="span-2">USD$ 2.750</span></h5>
          </div>
      </li>
      <li class="producto-simuladores-lista">
        <img src="/images/simulador-Sim-in-a-Box.webp" alt="">
        <div class="tamaño-hr"><br><br>
        <h6>EAGLE PLUS - PACKAGE SIMULATOR</h6>
        <p>(Precio en dolares- producto enviado desde el fabricante)</p>
        <h5><span class="span-2">USD$ 26.000</span></h5>
        </div>
    </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
