<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/smartwatch.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="smartwatch">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>SMARTWATCH'S</h2>
        <h4> MEJORA TU JUEGO DENTRO DEL CAMPO</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-smartwatch-lista">
            <img src="/img/smartwacht-garmin-S10.webp" alt="">
            <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>SMARTWATCH - GARMIN S10</h6>
            <p> Approach S10 Golf Watch</p>
            <h5><span class="span-1">$74.800</span><span class="span-2">$65.824</span></h5>
            <p class="p-descuento">Ahorra 30%</p>
            </div>
        </li>
        <li class="producto-smartwatch-lista">
          <img src="/img/smartwacht-garmin-S42.webp" alt="">
          <div class="tamaño-hr"><br><br>
          <h6>SMARTWATCH - GARMIN S42</h6>
          <p>Approach S42</p>
          <h5><span class="span-2">$74.250</span></h5>
          </div>
      </li>
      <li class="producto-smartwatch-lista">
        <img src="/img/smartwacht-SkyCaddie.webp" alt="">
        <div class="tamaño-hr"><br><br>
        <h6>SMARTWATCH - SKYCADDIE</h6>
        <p>LX5 GPS Watch</p>
        <h5><span class="span-2">$70.500</span></h5>
        </div>
    </li>
      <li class="producto-smartwatch-lista">
        <img src="/img/smartwacht-calibre E4 45 MM Golf Edition.webp" alt="">
        <div class="tamaño-hr"><br><br>
        <h6>SMARTWATCH - CALIBRE E4</h6>
        <p>45 MM Golf Special Edition</p>
        <h5><span class="span-2">$48.000</span></h5>
        </div>
    </li>
    <li class="producto-smartwatch-lista">
      <img src="/img/smartwacht-AIM W11 GPS - GolgBuddy.webp" alt="">
      <div class="tamaño-hr">
      <p class="nuevo">NUEVO</p>
      <h6>SMARTWATCH - AIM W11</h6>
      <p>GPS GolfBuddy</p>
      <h5><span class="span-2">$38.250</span></h5>
      </div>
  </li>
  <li class="producto-smartwatch-lista">
    <img src="/img/smartwacht-bushnell-iON Edge.webp" alt="">
    <div class="tamaño-hr">
    <p class="nuevo">NUEVO</p>
    <h6>SMARTWATCH -  BUSHNELL</h6>
    <p>iON Edge GPS Watch </p>
    <h5><span class="span-2">$38.250</span></h5>
    </div>
</li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
