<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/wedges.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="wedges">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>WEDGES DE GOLF</h2>
        <h4> 9 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-wedges-lista">
            <images src="/images/wedge-1.webp" alt="">
            <div class="tamaño-hr">
            <h6>CLEVELAND</h6>
            <p>RTX Zipcore Tour Satin Wedge - 56 deg</p>
            <h5><span class="span-2">$49.050</span></h5>
            </div>
        </li>
        <li class="producto-wedges-lista">
          <images src="/images/wedge-2.webp" alt="">
          <div class="tamaño-hr">
          <h6>CALLAWAY</h6>
          <p>JAWS MD5 Platinum Chrome Wedge w/ Project X Catalyst 80 Graphite Shafts - 58 deg</p>
          <h5><span class="span-1">$51.993</span><span class="span-2">$42.503</span></h5>
          <p class="p-descuento">Ahorra 19%</p>
          </div>
      </li>
      <li class="producto-wedges-lista">
        <images src="/images/wedge-3.webp" alt="">
        <div class="tamaño-hr">
        <p class="nuevo">NUEVO</p>
        <h6>TITLEIST</h6>
        <p>Vokey SM9 Brushed Steel Wedge - 60 deg</p>
        <h5><span class="span-2">$58.856</span></h5>
        </div>
    </li>
      <li class="producto-wedges-lista">
        <images src="/images/wedge-4.webp" alt="">
        <div class="tamaño-hr">
        <h6>TAYLORMADE</h6>
        <p>MG Hi-Toe RAW Wedge - 52 deg</p>
        <h5><span class="span-2">$58.856</span></h5>
        </div>
    </li>
    <li class="producto-wedges-lista">
      <images src="/images/wedge-5.webp" alt="">
      <div class="tamaño-hr">
      <h6>CLEVELAND</h6>
      <p>CBX2 Wedge w/ Steel Shaft - 56 deg</p>
      <h5><span class="span-1">$45.776</span><span class="span-2">$35.963</span></h5>
      <p class="p-descuento">Ahorra 21%</p>
      </div>
   </li>

    <li class="producto-wedges-lista">
      <images src="/images/wedge-6.webp" alt="">
      <div class="tamaño-hr">
      <h6>TITLEIST</h6>
      <p>Vokey SM9  Jet Black Wedge - 56 deg</p>
      <h5><span class="span-2">$58.856</span></h5>
      </div>
    </li>


    <li class="producto-wedges-lista">
        <images src="/images/wedge-7.webp" alt="">
        <div class="tamaño-hr">
        <h6>MIZUNO</h6>
        <p>T22 Satin Chrome Wedge - 56 deg</p>
        <h5><span>$52.316</span></h5>
        </div>
    </li>

      <li class="producto-wedges-lista">
          <images src="/images/wedge-8.webp" alt="">
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
          <h6>KING COBRA</h6>
          <p>SNAKEBITE Grooves - Versatile Grind - 56 deg</p>
          <h5><span class="span-1">$49.046</span><span class="span-2">$45.126</span></h5>
          <p class="p-descuento">Ahorra 8%</p>
          </div>
      </li>

      <li class="producto-wedges-lista">
          <images src="/images/wedge-9.webp" alt="">
          <div class="tamaño-hr">
          <h6>PING</h6>
          <p>Glide 4.0 Wedge w/ Graphite Shaft - 56 deg</p>
          <h5><span class="span-3">$71.936</span></h5>
          </div>
      </li>
    </ul>
  </div>
</main>

   <%- include('./partials/footer.ejs') %>
</body>
</html>
