<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/zapatos.css"/>
  </head>
 
<body class="zapatos" >

  <%- include('./partials/header.ejs')  %>     


<main>
 
    

    <div class="resultado-busqueda">
      <h2>ZAPATOS DE GOLF</h2>
      <h4>24 Resultados</h4>
      <div class="ordenar-buscador">
        <label for="buscador">Ordenar por</label>
        <select class="select-buscador" name="buscador" id="">
          <option value="++">De mas baratos a mas caros</option>
          <option value="--">De mas caros a mas baratos</option>
          <option value="top">Mas vendidos</option>
          <option value="moda">Moda del momento</option>
        </select>
      </div>
    </div>
    <hr class="hr-1">

    <div class="resultado-busqueda">
      <ul class="resultado-productos">
          <li class="producto-zapatos-lista">
              <img src="/images/zapatos-1.webp" alt="">
              <div class="tamaño-hr">
                  <h6>ADIDAS</h6>
                  <p>CODECHAOS 22 Men's Golf Shoe</p>
                  <h5><span class="span-3">$26.750</span></h5>
              </div>
              
          </li>

          <li class="producto-zapatos-lista">
              <img src="/images/zapatos-2.webp" alt="">
              <div class="tamaño-hr">
              <h6>ADIDAS</h6>
              <p>CODECHAOS 22 Women's Golf Shoe</p>
              <h5><span class="span-3">$26.000</span></h5>
              </div>
              
          </li>

          <li class="producto-zapatos-lista">
              <img src="/images/zapatos-3.webp" alt="">
              <div class="tamaño-hr">
              <h6>ADIDAS</h6>
              <p>CODECHAOS 22 BOA Men's Golf Shoe</p>
              <h5><span class="span-3">$29.990</span></h5>
              </div>
              
          </li>

          <li class="producto-zapatos-lista">
              <img src="/images/zapatos-4.webp" alt="">
              <div class="tamaño-hr">
              <h6>UNDER ARMOUR</h6>
              <p>UA HOVR Fade 2 SL Wide Men's Golf Shoe</p>
              <h5><span class="span-3">$21.990</span></h5>
              </div>
              
          </li>

          <li class="producto-zapatos-lista">
              <img src="/images/zapatos-5.webp" alt="">
              <div class="tamaño-hr">
              <h6>ADIDAS</h6>
              <p>ZG21 Men's Golf Shoe</p>
              <h5><span class="span-1">$33.000</span><span class="span-2">$29.500</span></h5>
              <p class="p-descuento">Ahorra 11%</p>
              </div>
             
          </li>

          <li class="producto-zapatos-lista">
              <img src="/images/zapatos-6.webp" alt="">
              <div class="tamaño-hr">
              <h6>FOOTJOY</h6>
              <p>Traditions Men's Golf Shoe</p>
              <h5><span class="span-3">$24.990</span></h5>
              </div>
              
          </li>

          <li class="producto-zapatos-lista">
            <img src="/images/zapatos19.webp" alt="">
            <div class="tamaño-hr">
            <h6>NEW BALANCE</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-underhver-35.webp" alt="">
            <div class="tamaño-hr">
            <h6>UNDER\\GOLF</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-9.webp" alt="">
            <div class="tamaño-hr">
            <h6>ADIDAS</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-11-white&blue.webp" alt="">
            <div class="tamaño-hr">
            <h6>CALLAWAY</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-12.webp" alt="">
            <div class="tamaño-hr">
            <h6>ECCO</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-13.JPG" alt="">
            <div class="tamaño-hr">
            <h6>ECCO</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-14-1.webp" alt="">
            <div class="tamaño-hr">
            <h6>ECCO</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$44.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-15.png" alt="">
            <div class="tamaño-hr">
            <h6>FOOTJOY</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$36.990</span></h5>
            </div>
          </li>
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-16-1.jpg" alt="">
            <div class="tamaño-hr">
            <h6>FOOTJOY</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$32.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-18-2.webp" alt="">
            <div class="tamaño-hr">
            <h6>NEW BALANCE</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$35.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-20.webp" alt="">
            <div class="tamaño-hr">
            <h6>NEW BALANCE</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$26.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-21-1.jpg" alt="">
            <div class="tamaño-hr">
            <h6>NIKE</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$31.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-22-1.jpg" alt="">
            <div class="tamaño-hr">
            <h6>NIKE</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
          
          <li class="producto-zapatos-lista">
            <img src="/images/zapatos-23-1.jpg" alt="">
            <div class="tamaño-hr">
            <h6>NIKE</h6>
            <p>Premiere Series - Tarlow Men's Golf Shoe</p>
            <h5><span class="span-3">$34.990</span></h5>
            </div>
          </li>
        <li class="producto-zapatos-lista">
          <img src="/images/zapatos-nike-air-max-90.webp" alt="">
          <div class="tamaño-hr">
          <h6>NIKE</h6>
          <p>Roshe G Women's Golf Shoe</p>
          <h5><span class="span-3">$34.990</span></h5>
          </div>
        </li>
        <li class="producto-zapatos-lista">
          <img src="/images/zapatos-27.webp" alt="">
          <div class="tamaño-hr">
          <h6>PUMA</h6>
          <p>IGNITE PWRADAPT Caged DISC Men's Golf Shoe - Grey/White</p>
          <h5><span class="span-3">$39.240</span></h5>
          </div>
      </li>
        <li class="producto-zapatos-lista">
          <img src="/images/zapatos-puma-blanco.webp" alt="">
          <div class="tamaño-hr">
          <h6>PUMA</h6>
          <p>IGNITE PWRADAPT Caged DISC Men's Golf Shoe - Navy/Grey</p>
          <h5><span class="span-3">$34.990</span></h5>
          </div>
        </li>
        <li class="producto-zapatos-lista">
          <img src="/images/zapatos-puma-gris.webp" alt="">
          <div class="tamaño-hr">
          <h6>PUMA</h6>
          <p>IGNITE NXT Crafted Men's Golf Shoe - Navy</p>
          <h5><span class="span-3">$34.990</span></h5>
          </div>
        </li>
      </ul>
    </div>

</main>

<%- include('./partials/footer.ejs')  %>

</body>
</html>