<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/header.css" />
    <title>Document</title>
  </head>

  <body class="body-header">
    <div class="barra-superior">
      <div class="barra-superior-izq">
        <a class="content" href="/lecciones">LECCIONES</a>
        <a class="content" href="/campos">CAMPOS</a>
        <a class="content" href="/users/contacto">CONTACTO</a>
      </div>
      <div class="barra-superior-der">
        <!-- <a href="/src/views/Carrito-de-compras.ejs"><span><i class="fa fa-cart-shopping"></i></span></a> -->
        <div id="cart-info">
          <span class="icon-cart"> </span>
        </div>
        <% if(locals && locals.sessiondata != undefined &&
        locals.sessiondata.user != undefined){%> <% if(locals &&
        locals.sessiondata.user.categoria == 'admin'){%>
        <div class="administrador">
          <span><a href="/products/administrar"> Administrar</a></span>
        </div>

        <div class="dropdown">
          <button class="dropbtn" onclick="myFunction()">
            Bienvenido <%= sessiondata.user.nombre %>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="myDropdown">
            <a class="desc-usuario" href="/users/perfil">Mi Perfil</a>
            <a class="desc-usuario" href="/users/cerrarsesion">Cerrar Sesión</a>
          </div>
        </div>
        <%}%> <%} else {%>
        <a class="content" href="/users/registro">REGISTRO</a>
        <a class="content" href="/users/iniciosesion">INICIO SESION</a>
        <%}%>
      </div>
    </div>

    <header>
      <div class="btn-menu">
        <button type="button" onclick="mostrarMenuMobile()" class="item-flex">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <nav id="menu-mobile" class="ocultar">
        <ul>
          <li><a href="/products/categoria/1"> ACCESORIOS</a></li>
        </ul>

        <ul>
          <li><a href="/products/categoria/2"> BOLSAS</a></li>
        </ul>

        <ul>
          <li><a href="/products/categoria/3"> PALOS</a></li>
        </ul>

        <ul>
          <li><a href="/products/categoria/4"> PELOTAS</a></li>
        </ul>

        <ul>
          <li><a href="/products/categoria/5"> TECNOLOGIA</a></li>
        </ul>

        <ul>
          <li><a href="/products/categoria/6"> VESTIR</a></li>
        </ul>

        <ul>
          <li><a href="/products/categoria/7"> ZAPATOS</a></li>
        </ul>
      </nav>
      <div class="logo item-flex">
        <p>
          <a href="/"
            ><img src="/images/logo-header.png" alt="Golf de Altura Store"
          /></a>
        </p>
      </div>
      <div class="iconos-compra-location">
        <span class="location-icon"> </span>
      </div>

      <div class="buscador item-flex">
        <form
          action="/products/search_results"
          method="GET"
          class="search-form"
        >
          <input
            type="text"
            name="search"
            placeholder="¿Que podemos ayudarte a encontrar?"
            class="search-form_input"
          />
          <button type="submit" class="search-form_button">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <div class="Compra-item-flex">
          <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
        </div>
      </div>
      <nav class="nav-full-screen">
        <div>
          <a
            href="/products/categoria/1"
            onclick="mostrarMenu('nav-accesorios')"
          >
            ACCESORIOS
          </a>
        </div>
        <div>
          <a
            href="/products/categoria/2"
            onclick="mostrarMenu('nav-bolsas-carros')"
          >
            BOLSAS-CARROS
          </a>
        </div>
        <div>
          <a href="/products/categoria/3" onclick="mostrarMenu('nav-palos')">
            PALOS
          </a>
        </div>
        <div>
          <a href="/products/categoria/4"> PELOTAS</a>
        </div>
        <div>
          <a
            href="/products/categoria/5"
            onclick="mostrarMenu('nav-tecnologia')"
          >
            TECNOLOGIA
          </a>
        </div>
        <div>
          <a href="/products/categoria/6" onclick="mostrarMenu('nav-vestir')">
            VESTIR
          </a>
        </div>
        <div>
          <a href="/products/categoria/7"> ZAPATOS</a>
        </div>
      </nav>
    </header>
  </body>
</html>
