<html lang="en">

<head>
  <link rel="stylesheet" href="/css/header.css">
  <title>Document</title>
</head>

<body class="body-header">
  <div class="barra-superior">
   
    <a href="/">GOLF</a>
    <a href="/lecciones">LECCIONES</a>
    <a href="/campos">CAMPOS</a>
    <a href="/contactos">CONTACTO</a>
    <a href="/src/views/Carrito-de-compras.ejs"><span><i class="fa fa-cart-shopping"></i></span></a>
    <% if(sessiondata != undefined &&  sessiondata.nombre != undefined && sessiondata.nombre != ''){%>
        <a href="/users/cerrarsesion">CERRAR SESION</a>
        <a href="/create" class="administracion">ADMINISTRACION</a> 
        <span class="welcome-user">Bienvenido <%=sessiondata.email%></span>
    <%} else {%>
      <a href="/registro">REGISTRO</a>
      <a href="/users/iniciosesion">INICIO SESION</a>
    <%}%>
  
  </div>
  
  <header>
    <div class="btn-menu">
      <button type="button" onclick="mostrarMenuMobile()" class="item-flex">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <nav id="menu-mobile" class="ocultar">
      <ul>
        <li><a href="#">INICIO</a></li> 
        
        <li>
          <a href="#">PRODUCTOS</a>
          <ul>
            <li><a href="/products/1"> ACCESORIOS</a></li>
            <li><a href="/products/2/1"> BOLSAS</a></li>
            <li><a href="/products/2/2"> CARROS</a></li>
            <li><a href="/products/3"> PALOS</a></li>
            <li><a href="/products/4"> PELOTAS</a></li>
            <li><a href="/products/5"> TECNOLOGIA</a></li>
            <li><a href="/products/6"> VESTIR</a></li>
            <li><a href="/products/7"> ZAPATOS</a></li>
            <li><a href="/campos"> CAMPOS</a></li>
            <li><a href="/lecciones"> LECCIONES</a></li>
            </div>

          </ul>     
    </nav>
    <div class="logo item-flex">
      <p><a href="/"><img src="/images/logo-header.png" alt="Golf de Altura Store" /></a></p>
    </div>
       <div class="buscador item-flex">
      <input type="text" placeholder="¿Que podemos ayudarte a encontrar?">
      <div class="btn">
        <i class="fa fa-search"></i>
      </div>
    <div class="Compra-item-flex">
        <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
      </div>
    </div>
    <nav class="nav-full-screen">
      <div>
        <a href="#" onclick="mostrarMenu('nav-accesorios')"> ACCESORIOS</a>
        <div id="nav-accesorios" class="nav-submenu">
          <ul>
            <li><a href="/products/1"> TODO </a></li>
            <li><a href="/products/1/5"> GORRAS</a></li>
            <li><a href="/products/1/6"> GUANTES</a></li>
            <li><a href="/products/1/4"> FUNDAS</a></li>
            <li><a href="/products/1/8"> HERRAMIENTAS</a></li>
            <li><a href="/products/1/20"> TEES</a></li>
            <li><a href="/products/1/22"> TOALLAS</a></li>
            <li><a href="/products/1/12"> PARAGUAS</a></li>
          </ul>
        </div>
      </div>
      <div>
        <a href="#" onclick="mostrarMenu('nav-bolsas-carros')"> BOLSAS-CARROS</a>
        <div id="nav-bolsas-carros" class="nav-submenu">
          <ul>
            <li><a href="/products/2"> TODO </a></li>
            <li><a href="/products/2/1"> BOLSAS</a></li>
            <li><a href="/products/2/2"> CARROS</a></li>
          </ul>
        </div>
      </div>
        <div>
          <a href="#" onclick="mostrarMenu('nav-palos')"> PALOS</a>
          <div id="nav-palos" class="nav-submenu">
            <ul>
              <li><a href="/products/3"> TODO</a></li>
              <li><a href="/products/3/3"> DRIVE</a></li>
              <li><a href="/products/3/11"> MADERAS</a></li>
              <li><a href="/products/3/9"> HIBRIDOS</a></li>
              <li><a href="/products/3/10"> HIERROS</a></li>
              <li><a href="/products/3/23"> WEDGES</a></li>
              <li><a href="/products/3/14"> PUTTERS</a></li>
            </ul>
          </div>
        </div>
        <div>
          <a href="/products/4/13"> PELOTAS</a>
        </div>
        <div>
          <a href="#" onclick="mostrarMenu('nav-tecnologia')"> TECNOLOGIA</a>
          <div id="nav-tecnologia" class="nav-submenu">
            <ul>
              <li>
                <a href="/products/5"> TODO</a>
                <a href="/products/5/7"> GPS</a>
                <a href="/products/5/18"> SIMULADORES</a>
                <a href="/products/5/19"> SMARTWATCHS</a>
                <a href="/products/5/21"> TELEMETROS</a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <a href="#" onclick="mostrarMenu('nav-vestir')"> VESTIR</a>
          <div id="nav-vestir" class="nav-submenu">
            <ul>
              <li><a href="/products/6"> TODO</a></li>
              <li><a href="/products/6/15"> ROPA DE HOMBRE</a></li>
              <li><a href="/products/6/16"> ROPA DE MUJER</a></li>
              <li><a href="/products/6/17"> ROPA DE NIÑOS</a></li>
            </ul>
          </div>
        </div>
        <div>
          <a href="/products/7/24"> ZAPATOS</a>
        </div>
    </nav>
  </header>
</body>

</html>