<html lang="en">

<head>
  <link rel="stylesheet" href="/css/header.css">
  <title>Document</title>
</head>

<body class="body-header">
  <div class="barra-superior">
   <div class="barra-superior-izq">
    <a href="/lecciones">LECCIONES</a>
    <a href="/campos">CAMPOS</a>
    <a href="/users/contacto">CONTACTO</a>
  </div>
  <div class="barra-superior-der">
  <a href="/src/views/Carrito-de-compras.ejs"><span><i class="fa fa-cart-shopping"></i></span></a>
  <% if(locals && locals.sessiondata != undefined &&  locals.sessiondata.nombre != undefined){%>
    <span class="welcome-user">Bienvenido <%=sessiondata.nombre%></span>
    <a href="/users/cerrarsesion">CERRAR SESION</a>
<%} else {%>
  <a href="/users/registro">REGISTRO</a>
  <a href="/users/iniciosesion">INICIO SESION</a>
<%}%>
    </div>
  </div>
  
  <header>
    <div class="btn-menu">
      <button type="button" onclick="mostrarMenuMobile()" class="item-flex">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <nav id="menu-mobile" class="ocultar">
      
     

     <!-- <ul>
            <li><a href="/productos/"> ACCESORIOS</a></li> 
            <li><a href="/productos/1"> ACCESORIOS</a></li>
            <li><a href="/productos/1"> TODO</a></li>
            <li><a href="/productos/1/5"> GORRAS</a></li>
            <li><a href="/productos/1/6"> GUANTES</a></li>
            <li><a href="/productos/1/4"> FUNDAS</a></li>
            <li><a href="/productos/1/8"> HERRAMIENTAS</a></li>
            <li><a href="/productos/1/20"> TEES</a></li>
            <li><a href="/productos/1/22"> TOALLAS</a></li>
            <li><a href="/productos/1/12"> PARAGUAS</a></li>
           <ul>
            <li><a href="/productos/2"> BOLSAS-CARROS</a></li>
            <li><a href="/productos/2/1"> BOLSAS</a></li>
            <li><a href="/productos/2/2"> CARROS</a></li>
           </ul>  
            <li><a href="/productos/3"> PALOS</a></li>
            <li><a href="/productos/3"> TODO</a></li>
            <li><a href="/productos/3/3"> DRIVE</a></li>
            <li><a href="/productos/3/11"> MADERAS</a></li>
            <li><a href="/productos/3/9"> HIBRIDOS</a></li>
            <li><a href="/productos/3/10"> HIERROS</a></li>
            <li><a href="/productos/3/23"> WEDGES</a></li>
            <li><a href="/productos/3/14"> PUTTERS</a></li>
                <a href="/productos/4/13"> PELOTAS</a>
            <li><a href="/productos/5/7"> GPS</a>
              <a href="/productos/5/18"> SIMULADORES</a>
              <a href="/productos/5/19"> SMARTWATCHS</a>
              <a href="/productos/5/21"> TELEMETROS</a>
            </li>
            <li><a href="/productos/6"> TODO</a></li>
            <li><a href="/productos/6/15"> ROPA DE HOMBRE</a></li>
            <li><a href="/productos/6/16"> ROPA DE MUJER</a></li>
            <li><a href="/productos/6/17"> ROPA DE NIÑOS</a></li> -->
            <div>
              <a href="/productos/7/24"> ZAPATOS</a>
            </div>

          </ul>     
    </nav>
    <div class="logo item-flex">
      <p><a href="/"><img src="/images/logo-header.png" alt="Golf de Altura Store" /></a></p>
    </div>
    <div class="iconos-compra-location">

      <span class="location-icon"> </span>
    </div>


    <div class="buscador item-flex">
      <form action="/search" method="GET" class="search-form">
      <input type="text" name="'keywords" placeholder="¿Que podemos ayudarte a encontrar?" class="search-form_input">
      <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
    </form>
      


    <div class="Compra-item-flex">
        <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
      </div>
    </div>
    <nav class="nav-full-screen">
      <div>
        <a href="/productos/categoria/1" onclick="mostrarMenu('nav-accesorios')"> ACCESORIOS</a>
        <div id="nav-accesorios" class="nav-submenu">
         <!-- <ul>
            <li><a href="/productos/1"> TODO </a></li>
            <li><a href="/productos/1/5"> GORRAS</a></li>
            <li><a href="/productos/1/6"> GUANTES</a></li>
            <li><a href="/productos/1/4"> FUNDAS</a></li>
            <li><a href="/productos/1/8"> HERRAMIENTAS</a></li>
            <li><a href="/productos/1/20"> TEES</a></li>
            <li><a href="/productos/1/22"> TOALLAS</a></li>
            <li><a href="/productos/1/12"> PARAGUAS</a></li>
          </ul> -->
        </div>
      </div>
      <div>
        <a href="/productos/categoria/2" onclick="mostrarMenu('nav-bolsas-carros')"> BOLSAS-CARROS</a>
        <div id="nav-bolsas-carros" class="nav-submenu">
      <!--    <ul>
            <li><a href="/productos/2"> TODO </a></li>
            <li><a href="/productos/2/1"> BOLSAS</a></li>
            <li><a href="/productos/2/2"> CARROS</a></li>
          </ul> -->
        </div>
      </div>
        <div>
          <a href="/productos/categoria/3" onclick="mostrarMenu('nav-palos')"> PALOS</a>
          <div id="nav-palos" class="nav-submenu">
          <!--  <ul>
              <li><a href="/productos/3"> TODO</a></li>
              <li><a href="/productos/3/3"> DRIVE</a></li>
              <li><a href="/productos/3/11"> MADERAS</a></li>
              <li><a href="/productos/3/9"> HIBRIDOS</a></li>
              <li><a href="/productos/3/10"> HIERROS</a></li>
              <li><a href="/productos/3/23"> WEDGES</a></li>
              <li><a href="/productos/3/14"> PUTTERS</a></li>
            </ul> --> 
          </div>
        </div>
        <div>
          <a href="/productos/categoria/4"> PELOTAS</a>
        </div>
        <div>
          <a href="/productos/categoria/5" onclick="mostrarMenu('nav-tecnologia')"> TECNOLOGIA</a>
          <div id="nav-tecnologia" class="nav-submenu">
          <!--  <ul>
              <li>
                <a href="/productos/5"> TODO</a>
                <a href="/productos/5/7"> GPS</a>
                <a href="/productos/5/18"> SIMULADORES</a>
                <a href="/productos/5/19"> SMARTWATCHS</a>
                <a href="/productos/5/21"> TELEMETROS</a>
              </li>
            </ul> -->
          </div>
        </div>
        <div>
          <a href="/productos/categoria/6" onclick="mostrarMenu('nav-vestir')"> VESTIR</a>
          <div id="nav-vestir" class="nav-submenu">
          <!--  <ul>
              <li><a href="/productos/6"> TODO</a></li>
              <li><a href="/productos/6/15"> ROPA DE HOMBRE</a></li>
              <li><a href="/productos/6/16"> ROPA DE MUJER</a></li>
              <li><a href="/productos/6/17"> ROPA DE NIÑOS</a></li>
            </ul> -->
          </div>
        </div>
        <div>
          <a href="/productos/categoria/7"> ZAPATOS</a>
        </div>
    </nav>
  </header>
</body>

</html>